* {
  box-sizing: border-box;
}
body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: rgba(221, 209, 197, 0.87);
  color: #4aaaa5;
  margin: 0px;
  line-height: 1.5;

}
/*top banner headerdefining default header if empty*/
Header {
  font-family: 'Georgia', Times, Times New Roman, serif;
  width: 100%;
  height: 50px;
  margin-left: 0px;
  
  background: #ffffff;
  font-size: 25px;
  border-bottom: solid;
  border-color: #cccccc;


  }

 
/* box1 is top banner header box in a header limited to 960px to align with core content box*/
.box1 {
  width: 960px;
  background-color:#4aaaa5;
  margin: 0 auto;
  font-size: 27px;
  padding-top: 0px;
  color: white;
 
 
}
/* myname is span attributes limited to top banner*/
#myname {
  background-color: #4aaaa5;
  /*width: 50px;
  height: 50px !important;*/
  padding: 10px;
  float: left;
  line-height: 1;
  

}
/* rightheader is hyperlink text buttons and targeting link specific attributes on a> element */
.rightHeader a {
  color: #777777;
  text-decoration: none;
  }

.rightHeader {
  float: right;
  font-size: 15px;
  color: #777777;
  padding-top: 12px;
}
/* central content host box fixed to 960 px
background texture delibrately left blank
protfolio right paddign adjusted to mimic homework picture of 2X2X1 which was not necessary per Shane conversation 10/2
}*/

.content {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
  /*margin-top: 40px;*/
  padding: 20px;
  background-color: #ffffff;
  overflow: hidden;
  float: center;
  color: #4aaaa5;
  border: none;
  border-color: #dddddd;
 
}
/* core content is core image managemnt to alow float left in core box1 */
.coreContent {
  float: left;
  padding: 10px;
  
}
p {
  color: #777777;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  height: 55px;
  clear: both;
  background: #666666;
  border-top: solid;
  border-width: 5px;
  border-color: #4aaaa5;
  text-align: center;
}
/* begin unique to contact page
NameBox*/
.nameBox {
  width: 960px;
  background-color: white;
  margin: 0 auto;
  font-size: x-large;
  padding-top: 5px;
  color: white;
 
 
}
/* portfolio image setting in central content box*/
img {
  padding: 40px 60px 40px 0px;
  float: left;
}

div1 {
  padding: 20px;
}
/* begin below from W3 samples
NameBox*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #4aaaa5;
  color: white;
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
#message{
  Height: 160px;
  width: 100%;
  float: none;
}
div {
 /* border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;*/
}
